.hero {
	min-height: 710px;
	position: relative;
}
.hero::before {
	content: "";
	position: absolute;
	background: url(../../assets/images/hero_right.png);
	bottom: -35px;
	left: -90px;
	width: 428px;
	height: 464px;
}
.hero::after {
	content: "";
	position: absolute;
	background: url(../../assets/images/hero_left.png);
	bottom: 0;
	right: -90px;
	width: 100%;
	max-width: 1040px;
	height: 800px;
}
.dark-line {
	min-height: 40px;
}
.hero-mid {
	background: rgba(80, 128, 107, 0.2);
	backdrop-filter: blur(20px);
	max-width: 594px;
	margin: 0 auto;
	min-height: inherit;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.main-title {
	font-weight: 600;
	font-size: 80px;
	letter-spacing: 0.03em;
	line-height: 1;
}
.slogan {
	font-weight: 400;
	font-size: 22px;
	line-height: 1.5;
	max-width: 430px;
	margin: 30px auto 38px auto;
}
